@using Chinook.Pages
@using Chinook.Services.Interfaces
@using System.Security.Claims

@inject IPlaylistService _playlistService;
@inject AppState _appState;

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Chinook</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span>Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            @if(userPlaylists is not null)
            {
                <ArtistPage />

                foreach (var playlist in userPlaylists)
                {
                    <NavLink class="nav-link">
                        <i class="bi bi-music-note-list me-3" style="font-size: 1.25em"></i>@playlist.Name
                    </NavLink>
                }
            }
        </div>

    </nav>
</div>

@code {
    private bool collapseNavMenu = true;
    private string CurrentUserId;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;
    private List<ClientModels.Playlist> userPlaylists;// = new List<ClientModels.Playlist>();
    [CascadingParameter] private Task<AuthenticationState> authenticationState { get; set; }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected override async Task OnInitializedAsync()
    {
        await InvokeAsync(StateHasChanged);
        _appState.OnChange += HandlePlaylistEvent;
        CurrentUserId = await GetUserId();
        userPlaylists = await _playlistService.GetPlayListByUserIdAsync(CurrentUserId);
    }

    private async Task<string> GetUserId()
    {
        var user = (await authenticationState).User;
        var userId = user.FindFirst(u => u.Type.Contains(ClaimTypes.NameIdentifier))?.Value;
        return userId;
    }

    private async void HandlePlaylistEvent()
    {
        userPlaylists = await _playlistService.GetPlayListByUserIdAsync(CurrentUserId);
        this.StateHasChanged();
    }
}
